<div class="table-container">
  <table class="table">
    <thead>
      <tr>
        @for (column of columns(); track column.key) {
          <th>{{ column.label }}</th>
        }
      </tr>
    </thead>

    <tbody>
      @for (row of rows(); track $index) {
        <tr>
          @for (column of columns(); track column.key) {
            <td>
              @if (column.cellTemplate; as template) {
                <ng-container *ngTemplateOutlet="template; context: { $implicit: row }" />
              } @else {
                {{ row[column.key] }}
              }
            </td>
          }
        </tr>
      }
    </tbody>
  </table>
</div>
