:root {
  --color-blue-50: #eff6ff;
  --color-blue-600: #2563eb;
  --color-blue-700: #1d4ed8;

  --color-red-50: #fef2f2;
  --color-red-600: #dc2626;
  --color-red-700: #b91c1c;

  --color-gray-300: #d1d5db;
  --color-gray-750: #2a303c;
}
