<form [formGroup]="form" id="birth-details-form" class="birth-details-form" (ngSubmit)="onSubmit()">
  <app-input label="Name" placeholder="Full name" formControlName="name" [error]="nameError()" />

  <div class="flex gap-2">
    <app-input label="Date of Birth" type="date" formControlName="dob" [error]="dobError()" />
    <app-input label="Time of Birth" type="time" step="1" formControlName="tob" [error]="tobError()" />
  </div>

  <app-input
    label="Place of Birth"
    [placeholder]="isAtlasReady() ? 'Start typing a city or village' : 'Loading atlas...'"
    formControlName="cityLabel"
    list="city-options"
    (input)="onOptionSelect($event)"
    [error]="cityLabelError()"
  />

  <datalist id="city-options">
    @for (place of citySuggestions(); track $index) {
      <option [value]="place.name + ', ' + (place.admin1 ? place.admin1 + ', ' : '') + place.country"></option>
    }
  </datalist>

  <app-select label="Ayanamsa" formControlName="ayanamsa" [options]="ayanamsaOptions" />
</form>
